nav {
	width: 100%;
	float: right;
	overflow: visible;
	margin: 5px 50px 0px 45px;
	padding-top: 10px;
	font-size: 18px;
}

header {
	position: relative;
	background-color: #c5919d;
	padding-left: 40px;
	padding-right: 5px;
	/* margin: 0px 0px 0px 0px; */
}

header nav a {
	text-decoration: none;
	line-height: 1em;
	display: block;
	float: right;
	color: #ffffff;
}

div.bk-image {
	background-image: url("http://images.freeimages.com/images/large-previews/047/headed-down-1400175.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* .img-style {
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
} */
#site-header {
	/* width: 100%; */
}

.brand-align {
	line-height: 22px;
}

.nav-align {
}

.nav-color {
	color: #ffffff;
}

.container-fullwidth {
	padding-left: 0;
	padding-right: 0;
}

.navbar-brand {
	font-size: 40px;
	font-family: 'Fira Mono', monospace;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 18px;
}

#profile {
	font-size: 20px;
	font-family: 'Lobster Two', cursive;
	font-weight: bold;
}

/* .intro{
    
} */

/* **************************************contact page style**************************************** */
.contact-page {
	background-color: #e0ffff;
}

.contact-nav {
	padding: 0px;
	margin: auto;
}

form {
	width: 600px;
	padding: 20px 10px 10px 10px;
	margin: 0px auto;
	box-shadow: 0px 10px 15px 3px;
	border-radius: 5px;
}

form #message {
	width: 100%;
	border-radius: 5px;
	background: #d6d6d6;
}

form input {
	width: 100%;
	border-radius: 5px;
	height: 40px;
	background: #d6d6d6;
}

.page-heading {
	text-align: center;
	/* margin: 50px; */
	padding-top: 30px;
	color: #db484b;
}

footer {
	padding: 15px 20px 5px 20px;
	background: #0b0b1a;
	font-family: 'Crete Round', serif;
	font-size: 20px;
	/* text-decoration: right; */
}

footer {
	color: whitesmoke;
}

/* .nav-link{
    margin: 12px 5px 0px 0px;
    
}
.nav-item{
    margin: 0px 0px 0px 0px;
}

/* .pageheader{
    background-color: #E0FFFF;
    border: 10px;
    float: left;
    margin: 0px -15px 0px 15px;
    
}  */

/*font-family: 'Titillium Web', 
font-family: 'Lobster Two', cursive;
font-family: 'Oxygen Mono', monospace;
font-family: 'Fira Mono', monospace;
sans-serif;
font-family: 'Crete Round', serif;

*/
